.InputProfile {
  padding-bottom: 1rem;
}
.InputProfile .tit_box {
  text-align: center;
}
.InputProfile .tit_box p {
  font-size: 1.5rem;
}
.InputProfile .tit_box span {
  font-size: 1rem;
  color: #909090;
}

.InputProfile .priview_wrap {
  width: 50%;
  margin: 0 auto;
}

.InputProfile .priview {
  position: relative;
  padding-top: 100%;
  border-radius: 50rem;
  overflow: hidden;
  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.1);
}
.InputProfile .priview img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.InputProfile .tr_form label {
  background-color: #7d898b;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 0;
  text-align: center;
  display: block;
  max-width: 130px;
  margin: 1rem auto 0;
}
.InputProfile input {
  display: none;
}
