.PostListSwiper {
  padding-bottom: 40px;
}

.PostListSwiper .swiper-slide figure {
  position: relative;
  padding-top: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
.PostListSwiper .swiper-slide figure img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
